@import "tailwindcss";

:root {
  --background: #101010;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MOBILE TAP */
button,
a {
  -webkit-tap-highlight-color: transparent;
}

/* IMAGES */
img {
  max-width: 100%;
  display: block;
}

/* INPUTS */
input,
textarea,
select,
button {
  font: inherit;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #25b99a;
}

/* LEAFLET FIX */
.leaflet-container {
  z-index: 1 !important;
  font-family: inherit !important;
}

/* MOBILE FIXES */
@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    width: 100%;
  }
}